.create-product-container {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: black;
}

.create-product-container h1 {
  text-align: center;
  color: white;
  text-decoration: none;
  margin-top: 15%;
  margin-bottom: 3%;
}

.create-product-form {
  width: 100%;
  max-width: 330px;
  padding: 12px;
  margin: auto;
  height: 92vh;
}
