.tv-container {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: black;
}
.tv-container h1 {
  text-align: center;
  color: white;
  text-decoration: none;
  margin-top: 8%;
  margin-bottom: 3%;
}
.tv-body {
  display: inline-block;
  margin-left: 20px;
  max-width: 330px;
  max-height: 430px;
  background-color: black;
  color: white;
}

.tv-image {
  width: 330px;
  height: 290px;
}
