.laptop-container {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: black;
}
.laptop-container h1 {
  text-align: center;
  color: white;
  text-decoration: none;
  margin-top: 8%;
  margin-bottom: 3%;
}
