.navigation {
  width: 100%;
  height: 8vh;
  background-color: cornflowerblue;
  color: white;
  position: absolute;
  text-align: left;
  padding: 0%;
  top: 0;
}

nav .site-logo {
  max-height: 52.64px;
  max-width: 100px;
  float: left;
}
